#container1, highlight{
    background-color: yellow;
}
#container2 > p{
    color: red;
}
#container2 > pre{
    color: pink;
}
#container3 > input{
    border: 2px solid blue;
}
#container4 > h1{
    color: green;
}
.title{
    color: green;
    font-size: 20px;
}
div[class|=user]{
    background-color: lightgray;
}
div[class$=info]{
    color: red;
}
div[class~=product]{
    background-color: coral;
}
div[class|=admin]{
    background-color: greenyellow;
}
#container6:hover{
    background-color: green;
}
#container6:focus{
    background-color: yellow;
}
#container7 > :nth-child(3){
    font-weight: bold;
}
.container8 > p:only-of-type{
    color: blue;
}
#container9 